---
layout: base
load_leaflet: true
---
<main class="my-12" aria-label="Content">
  
  <article class="container mb-8 px-4 text-lg">
    <h1>GBIF Sweden</h1>
    <p class="text-xl">
    GBIF Sweden is the <a href="https://www.gbif.org/country/SE/summary">Swedish participant node</a> in the <a href="https://www.gbif.org">Global Biodiversity Information Facility, GBIF</a>. Our main task is to make primary data on biological diversity from Swedish collections and observation databases freely available and to coordinate and support GBIF-related activities and data use in Sweden.
    </p>  
  </article>

  <div class="bg-slate-100 py-8">
    <article class="container px-4">
      <h2 class="mb-4">Species occurrences published in GBIF by Swedish institutions</h2>
      <div class="mb-4 grid grid-cols-2 sm:grid-cols-4 gap-x-8">
        <div>
          <div id="from_occurrence_count" class="text-xl">...</div>
          Occurrences
        </div>
        <div>
          <div id="from_datasets_count" class="text-xl">...</div>
          Datasets
        </div>
        <div>
          <div id="from_countries_count" class="text-xl">...</div>
          Countries covered
        </div>
        <div>
          <div id="from_publishers_count" class="text-xl">...</div>
          Publishers
        </div>
      </div>
      <div id="map1" class="h-96">&nbsp;</div>
      <div class="mt-2 text-lg">
        <a href="https://www.gbif.org/country/SE/publishing" title="Species occurrences published in GBIF by Swedish institutions">&raquo; Explore on gbif.org</a>
      </div>
      <script type="text/javascript">
        var map1 = L.map('map1').setView([42.00, 16.00], 2);
        map1.attributionControl.setPrefix(false);

        L.tileLayer('https://tile.gbif.org/3857/omt/{z}/{x}/{y}@2x.png?style=gbif-geyser', {
          attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, © <a href="https://www.openmaptiles.org/copyright">OpenMapTiles</a>',
          minZoom: 2,
          maxZoom: 13
        }).addTo(map1);

        L.tileLayer('https://api.gbif.org/v2/map/occurrence/density/{z}/{x}/{y}@2x.png?srs=EPSG:3857&publishingCountry=SE', {
          attribution: '<a href="https://www.gbif.org/citation-guidelines">GBIF</a>',
          minZoom: 2,
          maxZoom: 13
        }).addTo(map1);
      </script>
    </article>

    <article class="container px-4 mt-8">
      <h2 class="mb-4">Species occurrences published in GBIF about Sweden</h2>
      <div class="mb-4 grid grid-cols-2 sm:grid-cols-4 gap-x-8">
        <div>
          <div id="about_occurrence_count" class="text-xl">...</div>
          Occurrences
        </div>
        <div>
          <div id="about_datasets_count" class="text-xl">...</div>
          Datasets
        </div>
        <div>
          <div id="about_countries_count" class="text-xl">...</div>
          Countries contributing
        </div>
        <div>
          <div id="about_publishers_count" class="text-xl">...</div>
          Publishers
        </div>
      </div>
      <div id="map2" class="h-96">&nbsp;</div>
      <div class="mt-2 text-lg">
        <a href="https://www.gbif.org/country/SE/about" title="Species occurrences published in GBIF about Sweden">&raquo; Explore on gbif.org</a>
      </div>
      <script type="text/javascript">
        var map2 = L.map('map2').setView([63.00, 16.00], 4);
        map2.attributionControl.setPrefix(false);

        L.tileLayer('https://tile.gbif.org/3857/omt/{z}/{x}/{y}@2x.png?style=gbif-geyser', {
          attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, © <a href="https://www.openmaptiles.org/copyright">OpenMapTiles</a>',
          minZoom: 2, 
          maxZoom: 13
        }).addTo(map2);

        L.tileLayer('https://api.gbif.org/v2/map/occurrence/density/{z}/{x}/{y}@2x.png?srs=EPSG:3857&country=SE', { 
          attribution: '<a href="https://www.gbif.org/citation-guidelines">GBIF</a>',
          minZoom: 2, 
          maxZoom: 13
        }).addTo(map2);
      </script>
    </article>
  </div>

  <div class="container flex flex-col lg:flex-row mt-8 px-4">

    <article class="basis-2/3 lg:border-r-4 lg:border-slate-200 lg:pr-4 lg:mr-8">
      <header>
        <h2 class="mb-2">News</h2>
      </header>
      {% assign latest_news = site.news | reverse %}
      {% for news in latest_news limit:3 %}
        <article class="flex flex-col md:flex-row mb-8">
            <div class="basis-1/4 mb-4 md:mb-0">
              {% if news.image %}
                  <a href="{{ news.url }}" title="{{ news.title }}">
                    <img src="/uploads/{{ news.image }}" alt="">
                  </a>
              {% endif %}
            </div>
            <div class="basis-3/4 md:ml-6">
              <header>
                <h3 class="mt-0">
                    <a href="{{ news.url }}">{{ news.title }}</a>
                </h3>
                <div class="mt-1 text-slate-500">
                  {{ news.date | date: "%b %d, %Y %I:%M %p" }}
                </div>
              </header>
              <p class="mt-2">
                {{ news.description }}
              </p>
            </div>
          </article>
      {% endfor %}
      <footer class="mt-6">
        <a class="text-lg" href="/news/">&raquo; See all news</a>
      </footer>
    </article>

    <article class="basis-1/3 mt-8 lg:mt-0">
      <header>
        <h2 class="mb-2">Events</h2>
      </header>
      {% include functions/fetch-events.html event_type="coming" %}
      {% for event in events limit:3 %}
        <article class="flex flex-col md:flex-row mb-8">
          <div class="basis-1/4 mb-4 md:mb-0 cursor-pointer" onclick="location.href='{{ event.url }}';">
            {% if event.image %}
              <img src="/uploads/{{ event.image }}" alt="">
            {% else %}
              <div class="hidden md:block relative text-center text-slate-700" aria-hidden="true">
                <img class="inline h-24" src="/assets/images/Calendar-Blank-Vector.svg" alt="">
                <div class="text-xl text-white font-bold uppercase absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-170%]">
                  {{ event.start_time | date: "%b" }}
                </div>
                <div class="text-4xl absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-20%]">
                  {{ event.start_time | date: "%d" }}
                </div>
              </div>
            {% endif %}
          </div>
          <div class="basis-3/4 md:ml-6">
            <header>
              <h3 class="mt-0">
                  <a href="{{ event.url }}">{{ event.title }}</a>
              </h3>
              <div class="mt-1 text-slate-500">
                {%- include icons/calendar.html class="h-4 inline" -%}
                {%- include event-date.html event=event -%}
              </div>
              {% if event.location %}
                <div class="mt-1 text-slate-500">
                  {%- include icons/map-pin.html class="h-4 inline" -%}
                  {{ event.location }}
                </div>
              {% endif %}
           </header>
          </div>
        </article>
      {% endfor %}
      <footer class="mt-6">
        <a class="text-lg" href="/events/">&raquo; See all events</a>
      </footers>
    </article>

  </div>  

</main>

<script type="text/javascript">

  const onPageLoad = async() => {
    var result = await fetch_json('https://api.gbif.org/v1/occurrence/count?publishingCountry=SE')
    updateElement('from_occurrence_count', result);
    
    result = await fetch_json('https://api.gbif.org/v1/dataset/search?publishingCountry=SE&limit=500');
    updateElement('from_datasets_count', result.count)

    result = await fetch_json('https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=SE');
    updateElement('from_countries_count', Object.keys(result).length)

    result = await fetch_json('https://api.gbif.org/v1/organization?country=SE&limit=100');
    updateElement('from_publishers_count', result.count)

    result = await fetch_json('https://api.gbif.org/v1/occurrence/search?country=SE&limit=0&facet=publishingOrg&publishingOrg.facetLimit=999');
    updateElement('about_occurrence_count', result.count)
    updateElement('about_publishers_count', result.facets[0].counts.length)

    result = await fetch_json('https://api.gbif.org/v1/occurrence/counts/datasets?country=SE');
    updateElement('about_datasets_count', Object.keys(result).length)

    result = await fetch_json('https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=SE');
    updateElement('about_countries_count', Object.keys(result).length)
  }

  const fetch_json = async(url) => {
    const response = await fetch(url);
    return await response.json();
  }

  const updateElement = (id, value) => {
    document.getElementById(id).innerText = parseInt(value).toLocaleString('en-GB');
  }

  onPageLoad();

</script>