<div class="flex mt-8 pb-8 border-b-4 border-gray-200 last:border-0">
  <div class="flex-none w-48">
    {% if event.image %}
      <a href="{{ event.url }}"><img src="/uploads/{{ event.image }}"></a>
    {% endif %}
  </div>
  <div class="ml-8 grow">
    <h2 class="mt-0">
      <a href="{{ event.url }}">{{ event.slug }}</a>
    </h2>
    <div class="mt-2 text-gray-500">
      {%- include icons/calendar.html class="h-4 inline" -%}
      {%- include event-date.html from=event.from to=event.to -%}
    </div>
    {% if event.place %}
      <div class="text-gray-500">
          {%- include icons/map-pin.html class="h-4 inline" -%}
          {{ event.place }}
      </div>
    {% endif %}
    <p class="mt-4">
      {{ event.summary }}
    </p>
    <div>
      <a href="{{ event.url }}">&raquo; Read more</a>
    </div>
  </div>
</div>
