{%- assign start_time_size = include.start_time | size -%}
{%- if start_time_size > 10 -%}
  {%- assign start_time_format = "%b %d, %Y %I:%M %p" -%}
{%- else -%}
  {%- assign start_time_format = "%b %d, %Y" -%}
{%- endif -%}

{%- assign end_time_size = include.end_time | size -%}
{%- if end_time_size > 10 -%}
  {%- assign end_time_format = "%b %d, %Y %I:%M %p" -%}
{%- else -%}
  {%- assign end_time_format = "%b %d, %Y" -%}
{%- endif -%}

{{ include.start_time | date: start_time_format }}{% if include.end_time %} - {{ include.end_time | date: end_time_format }}{% endif %}
