<div class="py-4 bg-green-800">
    <div class="container flex text-white">
        <div>
            <div class="mb-3 font-medium uppercase">Who we are</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="/what-is-gbif">What is GBIF</a></li>
                <li class="mb-1"><a class="text-white" href="#">Governance</a></li>
                <li class="mb-1"><a class="text-white" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="ml-8">
            <div class="mb-3 font-medium uppercase">What we do</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="#">History</a></li>
                <li class="mb-1"><a class="text-white" href="#">Strategic framework</a></li>
                <li class="mb-1"><a class="text-white" href="#">Work programme</a></li>
                <li class="mb-1"><a class="text-white" href="#">FAIR and CARE</a></li>
            </ul>
        </div>
        <div class="ml-8">
            <div class="mb-3 font-medium uppercase">Community</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="#">SBDI</a></li>
                <li class="mb-1"><a class="text-white" href="#">The GBIF Network</a></li>
                <li class="mb-1"><a class="text-white" href="#">Taxonomy</a></li>
                <li class="mb-1"><a class="text-white" href="#">Data standards</a></li>
            </ul>
        </div>
        <div class="ml-8">
            <div class="mb-3 font-medium uppercase">Information</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="https://www.gbif.org/developer/summary">GBIF API</a></li>
                <li class="mb-1"><a class="text-white" href="#">Accessibility</a></li>
                <li class="mb-1"><a class="text-white" href="#">Privacy Policy</a></li>
                <li class="mb-1"><a class="text-white" href="#">Cookies</a></li>
                <li class="mb-1"><a class="text-white" href="https://www.gbif.org/citation-guidelines">Citation guide</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="py-4 bg-green-900">
    <div class="container text-white">Copyright &copy; 2023 - GBIF Sweden</div>
</div>