<div class="pt-1 mt-12 bg-gbif-green">
  <div class="lg:container flex flex-col-reverse lg:flex-row text-white">

    <div class="pb-4 pl-4 pr-4 min-w-fit bg-white text-center">
      <div>
        <a href="https://www.gbif.org/country/SE/summary" title="To GBIF Sweden node">
          <img class="w-32 inline" src="/assets/images/pn-green-logo.svg" alt="GBIF node logotype"></a>
        <a href="https://www.nrm.se" title="To The Swedish Museum of Natural History webite">
          <img class="w-28 inline" src="/assets/images/nrm-logo-staende-internationell-fullfarg.png" alt="The Swedish Museum of Natural History logotype"></a>
        <a href="https://biodiversitydata.se" title="To SBDI website">
          <img class="w-28 ml-5 mr-2 inline" src="/assets/images/sbdi-logo-orginal-large.png" alt="SBDI logotype"></a>
      </div>
      <a href="https://www.vr.se" title="To Vetenskapsrådet website">
        <img class="w-72 inline" src="/assets/images/logotyp_vetenskapsradet_liggande_sv_RGB_500px.png" alt="Vetenskapsrådet logotype"></a>
    </div>

    <nav class="container grid grid-cols-2 sm:grid-cols-4 gap-y-4 mt-2" aria-label="Secondary menu">

      {% for menu_header in site.data.footer-menu %}
        <div class="ml-8">
          <div class="mb-3 font-medium uppercase">{{ menu_header.name }}</div>
          <ul class="list-none list-inside ml-0">
            {% for menu_item in menu_header.items %}
              <li class="mb-1">
                <a class="text-white {% if path_start == menu_item.path %}font-bold {% endif %}" href="{{ menu_item.path }}">
                  {{ menu_item.name }}
                  {%- assign starts_with = menu_item.path | slice: 0, 4 -%}
                  {%- if starts_with == 'http' %}
                    <svg class="h-4 inline" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  {%- endif -%}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </nav>

  </div>
</div>

<footer class="py-4 bg-gbif-green-dark" aria-label="Site footer">
  <div class="container text-white px-4">Copyright &copy; 2023 - GBIF Sweden</div>
</footer>
