<div class="py-4 bg-gbif-green">
    <div class="container flex text-white">
        <div class="w-72 p-4 bg-white">
            <a href="https://www.gbif.org">
                <img class="mb-6" src="/assets/images/gbif_full_logo_black.svg">
            </a>
            <div class="mb-6">
                <a href="https://www.nrm.se">
                    <img class="w-28 inline" src="/assets/images/nrm-logo-staende-internationell-fullfarg.png">
                </a>
                <a href="https://biodiversitydata.se">
                    <img class="w-28 ml-6 inline" src="/assets/images/sbdi-logo-orginal-large.png">
                </a>
            </div>
            <a href="https://www.vr.se">
                <img src="/assets/images/logotyp_vetenskapsradet_liggande_sv_RGB_500px.png">
            </a>
        </div>
        <div class="ml-8">
            <div class="mb-3 font-medium uppercase">Who we are</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="/what-is-gbif">What is GBIF</a></li>
                <li class="mb-1"><a class="text-white" href="/governance">Governance</a></li>
                <li class="mb-1"><a class="text-white" href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="ml-8">
            <div class="mb-3 font-medium uppercase">What we do</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="/history">History</a></li>
                <li class="mb-1"><a class="text-white" href="/strategic-framework">Strategic framework</a></li>
                <li class="mb-1"><a class="text-white" href="/work-programme">Work programme</a></li>
                <li class="mb-1"><a class="text-white" href="/fair-and-care">FAIR and CARE</a></li>
            </ul>
        </div>
        <div class="ml-8">
            <div class="mb-3 font-medium uppercase">Community</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="/sbdi">SBDI</a></li>
                <li class="mb-1"><a class="text-white" href="/the-gbif-network">The GBIF Network</a></li>
                <li class="mb-1"><a class="text-white" href="/taxonomy">Taxonomy</a></li>
                <li class="mb-1"><a class="text-white" href="/data-standards">Data standards</a></li>
            </ul>
        </div>
        <div class="ml-8">
            <div class="mb-3 font-medium uppercase">Information</div>
            <ul class="list-none">
                <li class="mb-1"><a class="text-white" href="https://www.gbif.org/developer/summary">GBIF API</a></li>
                <li class="mb-1"><a class="text-white" href="/accessibility">Accessibility</a></li>
                <li class="mb-1"><a class="text-white" href="/privacy-policy">Privacy Policy</a></li>
                <li class="mb-1"><a class="text-white" href="/cookies">Cookies</a></li>
                <li class="mb-1"><a class="text-white" href="https://www.gbif.org/citation-guidelines">Citation guide</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="py-4 bg-gbif-green-dark">
    <div class="container text-white">Copyright &copy; 2023 - GBIF Sweden</div>
</div>