{% assign submenu_header = [] %}
{% assign submenu_items = [] %}
{% assign submenu_active_index = [] %}

{% if include.path_start == "/events/" %}
  {% assign submenu_header = "Events" %}
  {% assign submenu_items = "Coming:/events/, Past:/events/past/" | split:", " %}
  {% if page.collection == "events" %}
    {% assign event_type = page | event_type %}
    {% if event_type == "coming" %}
      {% assign submenu_active_index = 0 %}
    {% else %}
      {% assign submenu_active_index = 1 %}
    {% endif %}
  {% elsif page.url == "/events/" %}
    {% assign submenu_active_index = 0 %}
  {% elsif  page.url == "/events/past/" %}
    {% assign submenu_active_index = 1 %}
  {% endif %}

{% elsif include.path_start == "/news/" %}
  {% assign submenu_header = "News" %}
  {% assign submenu_items = "2023:/news/2023/, 2022:/news/2022/" | split:", " %}
  {% assign submenu_active_index = [] %}

{% endif %}
