---
---

@import "tailwindcss";

@utility container {
    margin-inline: auto;
}

@theme {
    --breakpoint-2xl: initial;
    --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-text: Calibri, ui-sans-serif, system-ui, sans-serif, Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-gbif-green: #40833a;
    --color-gbif-green-light: #c4dec4;
    --color-gbif-green-medium: #71b171;
    --color-gbif-green-dark: #397534;
}

@layer base {
    h1 {
        @apply text-4xl;
        @apply mt-2;
        @apply mb-4;
    }
    h2 {
        @apply text-2xl;
        @apply mt-6;
        @apply mb-1;
    }
    h3 {
        @apply text-xl;
        @apply mt-3;
        @apply mb-1;
    }
    p {
        @apply mb-3;
        @apply font-text;
        @apply text-lg;
    }
    ul {
        @apply list-disc;
        @apply list-outside;
        @apply ml-8;
        @apply mb-2;
        @apply text-lg;
    }
    ol {
        @apply list-decimal;
        @apply list-outside;
        @apply ml-8;
        @apply mb-2;
        @apply text-lg;
    }
    a {
        @apply text-blue-600;
    }
    a:hover {
        @apply underline;
    }
    address {
        @apply not-italic;
    }
}

.preamble {
    @apply text-xl;
    @apply text-slate-700;
}
.gbif-icon {
    @apply font-['gbificons'];
    @apply antialiased;
}
.link-icon {
    @apply bg-[url('/assets/images/link-icon.svg')];
    @apply bg-no-repeat;
    @apply pl-7;
}

/* GBIF font icons */
@font-face {
    font-family: 'gbificons';
    src:url('/assets/iconfont/gbificons.eot');
    src:url('/assets/iconfont/gbificons.eot#iefix') format('embedded-opentype'),
        url('/assets/iconfont/gbificons.ttf') format('truetype'),
        url('/assets/iconfont/gbificons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.gb-icon-animalia:before {
    content: "\EA14";
}
.gb-icon-archaea:before {
    content: "\EA15";
}
.gb-icon-bacteria:before {
    content: "\EA16";
}
.gb-icon-chromista:before {
    content: "\EA17";
}
.gb-icon-fungi:before {
    content: "\EA18";
}
.gb-icon-plantae:before {
    content: "\EA19";
}
.gb-icon-protozoa:before {
    content: "\EA1A";
}
.gb-icon-incertae-sedis:before {
    content: "\EA1B";
}
.gb-icon-viruses:before {
    content: "\EA1C";
}

/* Fullcalendar */
.fc .fc-toolbar.fc-header-toolbar {
    font-size: .6rem;
    margin-bottom: 0;
}
.fc .fc-button-primary {
    background-color: white;
    border-color: white;
    color: rgb(30 41 59);
}
.fc .fc-col-header-cell {
    font-weight: normal;
    font-size: .7rem;
    background-color:rgb(203 213 225);
}
.fc .fc-day {
    font-size: .7rem;
}
.fc a {
    color: rgb(30 41 59);
}

/* Tablefilter */
#tableToolbar .inf {
    min-width: fit-content;
}
