---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    h1 {
        @apply text-4xl;
        @apply mt-2;
        @apply mb-4;
    }
    h2 {
        @apply text-2xl;
        @apply mt-1;
        @apply mb-1;
    }
    h3 {
        @apply text-xl;
        @apply mt-1;
    }
    p {
        @apply mb-2;
    }
    ul {
        @apply list-disc;
        @apply list-inside;
        @apply mb-2;
    }
    ol {
        @apply list-decimal;
        @apply list-inside;
        @apply mb-2;
    }
    a {
        @apply text-blue-600;
    }
    a:hover {
        @apply underline;
    }
  }

  .topmenu {
    overflow: hidden;
    background-color: #40833a;
  }

  .topmenu ul {
    list-style-type: none;
  }
  
  .topmenu ul li {
    float: left;
  }
  
  .topmenu ul li a {
    display: block;
    padding: 16px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
  }
  
  .topmenu ul li a:hover {
    color: #40833a;
    background-color: #ddd;
  }

  .topmenu ul li.active a {
    color: black;
    background-color: white;
  }
