---
layout: base
---
{%- include functions/path-start.html -%}
{%- include functions/submenu-data.html path_start=path_start -%}

<div class="container mt-12 mb-8 px-4">
  <div class="flex">
    {% if submenu_header %}
      <nav class="mr-8 mt-2 w-48 flex-none hidden sm:block" aria-label="Context menu">
        <div class="bg-gbif-green-light px-3 py-2 text-gray-800 text-lg">{{ submenu_header }}</div>
        <ul class="bg-gray-100 list-none">
          {% for menu_item_0 in submenu_items %}
            {% assign menu_item = menu_item_0 | split: ":" %}
            <li class="px-3 py-2 hover:bg-gray-200 {% if menu_item[0] == submenu_active_item %}bg-gray-300{% endif %}">
              <a class="block text-gray-700 hover:no-underline" href="{{ menu_item[1] }}">{{ menu_item[0] }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    <main aria-label="Content">
      <article class="grow">
        {{ content }}
      </article>
    </main>
  </div>
</div>
