---
layout: base
---
{%- include functions/path-start.html -%}
{%- include functions/submenu-data.html path_start=path_start -%}

<div class="container mt-12 mb-8 px-4">
  <div class="flex">
    {% if submenu_header %}
      <div>
        <nav class="mr-8 mt-2 w-48 hidden sm:block" aria-label="Context menu">
          <a class="block bg-gbif-green-light px-3 py-2 text-slate-800 text-lg hover:bg-slate-200 hover:no-underline" href="{{ path_start }}">
            {{ submenu_header }}
          </a>
          <ul class="bg-slate-100 list-none ml-0">
            {% for menu_item_0 in submenu_items %}
              {% assign menu_item = menu_item_0 | split: ":" %}
              <li class="px-3 py-2 hover:bg-slate-200 {% if menu_item[0] == submenu_active_item %}bg-slate-300{% endif %}">
                <a class="block text-slate-700 hover:no-underline" href="{{ menu_item[1] }}">{{ menu_item[0] }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        {% if page.load_calendar == true %}
          <div id="calendar" class="w-48 h-96 text-xs" aria-hidden="true"></div>
        {% endif %}
      </div>
    {% endif %}
    <main aria-label="Content" class="w-full">
      <article class="grow">
        {{ content }}
      </article>
    </main>
  </div>
</div>
