---
layout: default
---

<h1>{{ page.title }}</h1>

<h2>{{ page.event_type | capitalize }} events</h2>

<div>
  {% include functions/fetch-events.html event_type=page.event_type %}
  {% for event in events %}
    <article class="flex flex-col md:flex-row mt-8 pb-8 border-b-4 border-slate-200 last:border-0">
      <div class="basis-1/4 mb-4 md:mb-0 cursor-pointer" onclick="location.href='{{ event.url }}';">
        {% if event.image %}
          <img src="/uploads/{{ event.image }}" alt="">
        {% else %}
          <div class="hidden md:block relative text-center text-slate-700" aria-hidden="true">
            <img class="inline h-40" src="/assets/images/blank_calendar.svg" alt="">
            <div class="text-xl text-white font-bold absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-165%]">
              {{ event.start_time | date: "%b" }}
            </div>
            <div class="text-7xl absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-10%]">
              {{ event.start_time | date: "%d" }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="basis-3/4 md:ml-8">
        <header>
          <h2 class="mt-0">
            <a href="{{ event.url }}">{{ event.title }}</a>
          </h2>
          <div class="mt-2 text-slate-500">
            {%- include icons/calendar.html class="h-4 inline" -%}
            {%- include event-date.html start_time=event.start_time end_time=event.end_time -%}
          </div>
          {% if event.location %}
            <div class="text-slate-500">
              {%- include icons/map-pin.html class="h-4 inline" -%}
              {{ event.location }}
            </div>
          {% endif %}
        </header>
        <p class="mt-4">
          {{ event.description | truncatewords: 100, ' [...]' }}
        </p>
        <footer>
          <a href="{{ event.url }}" title="{{ event.title }}">&raquo; Read more</a>
        </footer>
      </div>
    </article>
  {% endfor %}
</div>
