---
layout: default
---

<h1>{{ page.title }}</h1>

<div>
  {% include functions/fetch-events.html event_type=page.event_type %}
  {% for event in events %}
    <article class="flex flex-col lg:flex-row mt-8 pb-8 border-b-4 border-slate-200 last:border-0">
      <div class="basis-1/6 mb-4 lg:mb-0 cursor-pointer" onclick="location.href='{{ event.url }}';">
        {% if event.image %}
          <img src="/uploads/{{ event.image }}" alt="">
        {% else %}
          <div class="hidden lg:block relative text-center text-slate-700" aria-hidden="true">
            <img class="inline h-24" src="/assets/images/Calendar-Blank-Vector.svg" alt="">
            <div class="text-xl text-white font-bold uppercase absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-170%]">
              {{ event.start_time | date: "%b" }}
            </div>
            <div class="text-4xl absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[-20%]">
              {{ event.start_time | date: "%d" }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="basis-5/6 lg:ml-8">
        <header>
          <h2 class="mt-0">
            <a href="{{ event.url }}">{{ event.title }}</a>
          </h2>
          <div class="mt-2 text-slate-500">
            {%- include icons/calendar.html class="h-4 inline" -%}
            {%- include event-date.html event=event -%}
          </div>
          {% if event.location %}
            <div class="text-slate-500">
              {%- include icons/map-pin.html class="h-4 inline" -%}
              {{ event.location }}
            </div>
          {% endif %}
        </header>
        <p class="mt-4">
          {{ event.description | truncatewords: 50, ' [...]' }}
        </p>
        <footer>
          <a href="{{ event.url }}" title="{{ event.title }}" class="text-lg">Read more</a>
        </footer>
      </div>
    </article>
  {% endfor %}
</div>
