---
layout: base
---

<main class="my-12" aria-label="Content">
  
  <article class="container mb-8 px-4">
    {{ content }}
  </article>

  <div class="bg-gray-100 py-8">
    <article class="container px-4">
      <h2 class="mb-4">Species occurrences published in GBIF from Swedish institutions</h2>
      
      <div id="map" class="h-96">&nbsp;</div>
      <script>
        var map = L.map('map').setView([42.00, 16.00], 2);
        map.attributionControl.setPrefix(false);

        L.tileLayer('https://tile.gbif.org/3857/omt/{z}/{x}/{y}@2x.png?style=gbif-geyser', {
          attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, © <a href="https://www.openmaptiles.org/copyright">OpenMapTiles</a>',
          minZoom: 2, 
          maxZoom: 13
        }).addTo(map);

        L.tileLayer('https://api.gbif.org/v2/map/occurrence/density/{z}/{x}/{y}@2x.png?srs=EPSG:3857&publishingCountry=SE', { 
          attribution: '<a href="https://www.gbif.org/citation-guidelines">GBIF</a>',
          minZoom: 2, 
          maxZoom: 13
        }).addTo(map);
      </script>
    </article>
  </div>

  <div class="container flex flex-col lg:flex-row mt-8 px-4">

    <article class="basis-2/3 lg:border-r-4 lg:border-gray-200 lg:pr-4 lg:mr-8">
      <header>
        <h2 class="mb-2">News</h2>
      </header>
      {% assign latest_news = site.news | reverse %}
      {% for news in latest_news limit:3 %}
        <article class="flex flex-col md:flex-row mb-8">
            <div class="basis-1/4 mb-4 md:mb-0">
              {% if news.image %}
                  <a href="{{ news.url }}"><img src="/uploads/{{ news.image }}"></a>
              {% endif %}
            </div>
            <div class="basis-3/4 ml-6">
              <header>
                <h3 class="mt-0">
                    <a href="{{ news.url }}">{{ news.slug }}</a>
                </h3>
                <div class="mt-1 text-gray-500">
                  {{ news.date | date: "%b %d, %Y %I:%M %p" }}
                </div>
              </header>
              <p class="mt-2">
                {{ news.summary }}
              </p>
            </div>
          </article>
      {% endfor %}
      <footer class="mt-6">
        <a class="text-lg" href="/news/">&raquo; See all news</a>
      </footer>
    </article>

    <article class="basis-1/3 mt-8 lg:mt-0">
      <header>
        <h2 class="mb-2">Events</h2>
      </header>
      {% assign coming_events = site.events | sort: "from" | filter_events: "coming" %}
      {% for event in coming_events limit:3 %}
        <article class="flex flex-col md:flex-row mb-8">
          <div class="basis-1/4 mb-4 md:mb-0">
            {% if event.image %}
                <a href="{{ event.url }}"><img src="/uploads/{{ event.image }}"></a>
            {% endif %}
          </div>
          <div class="basis-3/4 ml-6">
            <header>
              <h3 class="mt-0">
                  <a href="{{ event.url }}">{{ event.slug }}</a>
              </h3>
              <div class="mt-1 text-gray-500">
                {%- include icons/calendar.html class="h-4 inline" -%}
                {%- include event-date.html from=event.from to=event.to -%}
              </div>
              {% if event.place %}
                <div class="mt-1 text-gray-500">
                  {%- include icons/map-pin.html class="h-4 inline" -%}
                  {{ event.place }}
                </div>
              {% endif %}
           </header>
          </div>
        </article>
      {% endfor %}
      <footer class="mt-6">
        <a class="text-lg" href="/events/">&raquo; See all events</a>
      </footers>
    </article>

  </div>  

</main>
