<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="my-12" aria-label="Content">
      
      <div class="container mb-8">
        {{ content }}
      </div>

      <div class="bg-gray-100 py-8">
        <div class="container">
          <h2 class="mb-4">Species occurrences published in GBIF from Swedish institutions</h2>
          
          <div id="map" class="h-96">&nbsp;</div>
          <script>
            var map = L.map('map').setView([42.00, 16.00], 2);
            map.attributionControl.setPrefix(false);
 
            L.tileLayer('https://tile.gbif.org/3857/omt/{z}/{x}/{y}@2x.png?style=gbif-geyser', {
              attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, © <a href="https://www.openmaptiles.org/copyright">OpenMapTiles</a>',
              minZoom: 2, 
              maxZoom: 13
            }).addTo(map);

            L.tileLayer('https://api.gbif.org/v2/map/occurrence/density/{z}/{x}/{y}@2x.png?srs=EPSG:3857&publishingCountry=SE', { 
              attribution: '<a href="https://www.gbif.org/citation-guidelines">GBIF</a>',
              minZoom: 2, 
              maxZoom: 13
            }).addTo(map);
          </script>
        </div>
      </div>

      <div class="container flex mt-8">
        <div class="basis-2/3 border-r-4 border-gray-200 pr-4 mr-8">
          <h2>News</h2>
          {% for news in site.news %}
            <div>
                <h3>
                    <a href="{{ news.url | relative_url }}">{{ news.title }}</a>
                </h3>
                <p>{{ news.summary }}</p>
                <p> Published: {{ news.date | date: "%b %d, %Y %H:%M" }}</p>
            </div>
          {% endfor %}
        </div>
        <div>
          <h2>Events</h2>
          {% for event in site.events %}
          <div>
              <h3>
                  <a href="{{ event.url | relative_url }}">{{ event.title }}</a>
              </h3>
              <p>{{ event.when }}</p>
          </div>
          {% endfor %}
        </div>
      </div>  

    </main>

    {%- include footer.html -%}
  </body>

</html>
