---
layout: base
use_map: true
---

{{ content }}

<div id="map" style="height: 320px">&nbsp;</div>
<script>
  var map = L.map('map').setView([61.93, 15.72], 3);

  L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png', {
    attribution: 'Data copyright OSM contributors',
    minZoom: 2, maxZoom: 13
  }).addTo(map);

  L.tileLayer('https://api.gbif.org/v1/map/density/tile?x={x}&y={y}&z={z}&type=PUBLISHING_COUNTRY&resolution=2&key=SE&palette=yellows_reds', {
    attribution: 'GBIF contributors',
    minZoom: 2, maxZoom: 13
  }).addTo(map);
</script>
