---
layout: default
---

<div class="flex items-center">
  <h1 class="grow">{{ page.title }}</h1>
  <a class="mb-2 px-2 py-1 text-lg text-slate-700 bg-slate-100 shadow" href="/feed/news.xml">
    <svg class="h-6 inline" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg> Feed
  </a>
</div>
<div>
  {% assign last_news = site.news | last %}
  {% assign archive_start = last_news.date | date: "%Y" | minus: 4 %}
  {% for news in site.news reversed %}
    {% assign news_year = news.date | date: "%Y" | plus: 0 %}
    {% if page.year == news_year or page.year == 0 or page.year == "archive" and news_year < archive_start %}
      <article class="flex flex-col lg:flex-row mt-8 pb-8 border-b-4 border-slate-200 last:border-0">
        <div class="basis-1/4 mb-4 lg:mb-0 cursor-pointer" onclick="location.href='{{ news.url }}';">
          {% if news.image %}
            <img src="/uploads/news/{{ news.image }}" alt="">
          {% endif %}
        </div>
        <div class="basis-3/4 lg:ml-8">
          <header>
            <h2 class="mt-0">
              <a href="{{ news.url }}">{{ news.title }}</a>
            </h2>
            <div class="mt-2 text-slate-500">
              {{ news.date | date: "%b %d, %Y" }}
            </div>
          </header>
          <p class="mt-4">
            {{ news.description }}
          </p>
          <footer>
            <a href="{{ news.url }}" title="{{ news.title }}" class="text-lg">Read more</a>
          </footer>
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
