---
layout: default
---

<h1>{{ page.title }}</h1>
<div>
  {% for news in site.news reversed %}
    {% assign news_year = news.date | date: "%Y" | plus: 0 %}
    {% if page.year == 0 or page.year == news_year %}
      <article class="flex flex-col md:flex-row mt-8 pb-8 border-b-4 border-slate-200 last:border-0">
        <div class="basis-1/4 mb-4 md:mb-0">
          {% if news.image %}
            <a href="{{ news.url }}" title="{{ news.title }}">
              <img src="/uploads/{{ news.image }}" alt="">
            </a>
          {% endif %}
        </div>
        <div class="basis-3/4 md:ml-8">
          <header>
            <h2 class="mt-0">
              <a href="{{ news.url }}">{{ news.title }}</a>
            </h2>
            <div class="mt-2 text-slate-500">
              {{ news.date | date: "%b %d, %Y %I:%M %p" }}
            </div>
          </header>
          <p class="mt-4">
            {{ news.description }}
          </p>
          <footer>
            <a href="{{ news.url }}" title="{{ news.title }}" class="text-lg">&raquo; Read more</a>
          </footer>
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
